{% extends "./layout/default" %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="canvas-holder" style="width:100%;">
                <canvas id="chart-area" style="width:100%;" aria-label="Sankey diagram" role="img"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" action="{{ route('destroy') }}">
                {{ csrf_field() }}
                <button type="submit" class="btn btn-danger">Clear session and delete data</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="utils.js"></script>
    <script>
        const data = [
            {% for row in data.basic %}
            {from: '{{ row.from }}', to: '{{ row.to }}', flow: {{ row.amount }}},
            {% endfor %}
        ];

        Utils.load(() => {
            const colors = [
                '#1F77B4',
                '#FF7F0E',
                '#2CA02C',
                '#D62728',
                '#9467BD',
                '#8C564B',
                '#E377C2',
                '#7F7F7F',
                '#BCBD22'
            ];
            const assigned = {};

            function getColor(name) {
                return assigned[name] || (assigned[name] = colors[Object.keys(assigned).length % colors.length]);
            }

            Chart.defaults.font.size = 9;
            const ctx = document.getElementById('chart-area').getContext('2d');
            new Chart(ctx, {
                type: 'sankey',
                data: {
                    datasets: [{
                        label: 'My Sankey',
                        colorFrom: (c) => getColor(c.dataset.data[c.dataIndex].from),
                        colorTo: (c) => getColor(c.dataset.data[c.dataIndex].to),
                        data
                    }]
                },
                options: {
                    animation: false,
                    layout: {
                        padding: 0
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    tooltips: {
                        callbacks: {
                            title() {
                                return data[tooltipItem.index].from;
                            },
                            label(context) {
                                const item = context.dataset.data[context.dataIndex];
                                return [item.from + ' -> ' + item.to, item.flow];
                            }
                        }
                    },
                    scales: {
                        y: {
                            type: 'linear',
                            reverse: true,
                            offset: true,
                        },
                        x: {
                            type: 'linear',
                            offset: true,
                        }
                    }
                }
            });

        });
    </script>
{% endblock %}
